body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  color: #333;
  opacity: 0;
  transform: translateY(-50px);
}

p {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: #555;
}

.heart {
  width: 50px;
  height: 50px;
  position: relative;
}

.heart-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #FFC0CB;
  border-radius: 25px 25px 0 0;
  transform: rotate(45deg);
}

.heart-inner::after,
.heart-inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFC0CB;
  border-radius: 25px 25px 0 0;
}

.heart-inner::after {
  top: -25px;
  left: 0;
}

.heart-inner::before {
  top: 0;
  left: -25px;
}
